h3{
  text-align: center;
}
.board {
  margin: 0 auto;
  display: auto;
  flex-wrap: wrap;
  width: 780px;
  height: 400px;
}

body{
  background-color: rgb(236, 180, 247);
}

h1{
  text-align: center;
}

